.links-of-author {
  margin-top: 20px;
  margin-left: 25%;
  text-align: left;
  padding: 0px 0px 0px 0px;
}

.links-of-author-item {
  border-bottom: 0px;
  border-top: 0px;
}

.links-of-author a {
  display: block;
  vertical-align: middle;
  border-bottom-color: transparent;
  font-size: 13px;

  &:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgb(random-color(0, 255) - 50%, random-color(0, 255) - 50%, random-color(0, 255) - 50%);
  }
}
